.ipynb_checkpoints/
__pycache__/
*data.pkl
.envrc
.idea/
.vscode
model.pkl
policy_expect_data.pkl
*.db*
*.png
*model*pkl
data*.pkl
probs_*.txt

# Maxis survival probability model
data_mort_estim.dta

# Ignore intermediate data pickle files
output/intermediate_data/*.pkl
!output/intermediate_data/temp_params_*.pkl
output/intermediate_data/estimation_*/

# Ignore estimation log files, but not the md files
src/estimation/struct_estimation/log/

# Ignore intermediate pcikle files
contributions_base.pkl
scores.pkl
ll*.txt

# Installation files
*.egg-info/
