.ipynb_checkpoints/
__pycache__/
*data.pkl
.envrc
.idea/
.vscode
model.pkl
policy_expect_data.pkl
*.db*
*.png
*model*pkl
data*.pkl
probs_*.txt

# Maxis survival probability model
data_mort_estim.dta

# pension data
output/open_access_data/rentenzugaenge

# Ignore intermediate data pickle files
output/intermediate_data/
output/plots/

# Ignore estimation log files, but not the md files
src/estimation/struct_estimation/scripts/log/

# Ignore intermediate pcikle files
contributions_base.pkl
scores.pkl
ll*.txt

# Installation files
*.egg-info/

# Debug files
src/*/debug/
est_params_stable.pkl

# Server files
*.out

# Claude Code configuration
CLAUDE.md

# Ignore est and sim files. Add only single ones
output/est_results/struct_results/*.pkl
!output/est_results/struct_results/fire_old_done/
!output/est_results/struct_results/try/
!output/est_results/struct_results/est_params_fire_old_done.pkl


/output/sim_results/*.csv
!output/sim_results/fire_old_done/
df*.csv
