---
name: policy_uncertainty
channels: [conda-forge, defaults]
dependencies:
  - python==3.14
  - pip
  - pytest
  - pytest-cov
  - pytest-xdist

  # Package dependencies
  - numpy
  - numba
  - pandas
  - scipy
  - pandas
  - linearmodels
  - statsmodels
  - lifelines
  - seaborn
  - scikit-learn

  # Misc
  - black
  - flake8
  - jupyterlab
  - matplotlib
  - pdbpp
  - pre-commit
  - pip:
      - jax
      - jaxlib
      - optimagic

      # Local installation of dcegm and package itself
      - -e .
      - -e ./submodules/dcegm/
      - git+https://github.com/OpenSourceEconomics/upper-envelope.git
      - git+https://github.com/OpenSourceEconomics/tranquilo.git@7c87bdeaba0783fce1310b1ba3b7def99da283b8
